.app_layout {
    max-width: 900px;
    width: 100%;
    height: 100%;
    display: flex;
    margin: 0 auto;
    justify-content: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 12px 0;
}

h1,
h2 {
    font-weight: 700;
    line-height: 1.1;
}

h3,
h4,
h5,
h6 {
    font-weight: 600;
    line-height: 1;
}


h1 {
    font-size: 50px;
}

h2 {
    font-size: 45px;
}

h3 {
    font-size: 30px;
}

h4,
h5 {
    font-size: 26px;
}

p {
    font-size: 16px;
    font-weight: 400;
    margin: 6px 0;
}